<!DOCTYPE html>
<html>
<head>
    <title><%= text.page.candidates.title %></title>
    <% include ../partials/head %>
</head>
<body data-spy="scroll" data-target="#menu">
    <header>
        <% include ../partials/header %>
    </header> 
    <main>
        <section id="kandidaten">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <h1><%= text.page.candidates.electable_candidates %></h1>
                        <p><%- text.page.candidates.desc %></p><br>
                        <% Object.values(text.page.candidates.list).forEach(function(fac) { %>
                            <div class="row justify-content-center" style="text-align: center;">
                                <h3><%= fac.name %></h3>
                            </div>
                            <div class="row">
                                <% Object.values(fac.list).forEach(function(member) { %>
                                <div class="col-md candidate" style="text-align:middle;"> 
                                    <div class="row justify-content-center">
                                        <div class="candidate-video">
                                            <video src="<%= member.video %>" controls class="candidate-video">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <h5><%= member.name %></h5>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        <% }) %>
                        <div class="row justify-content-center" style="text-align: center;">
                            <h3>Rechten (REC)</h3>
                        </div>
                        <div class="row">
                            <div class="col-md candidate" style="text-align:middle;"> 
                                <div class="row justify-content-center">
                                    
                                </div>
                                <div class="row justify-content-center">
                                    <h5>Geen opkomende kandidaten</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center" style="text-align: center;">
                            <h3>School voor educatieve studies (SES)</h3>
                        </div>
                        <div class="row">
                            <div class="col-md candidate" style="text-align:middle;"> 
                                <div class="row justify-content-center">
                                    
                                </div>
                                <div class="row justify-content-center">
                                    <h5>Geen opkomende kandidaten</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>        
</body>
</html>
