<!DOCTYPE html>
<html>
<head>
    <title><%= text.page.mobility.title %></title>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header> 
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1><%= text.page.mobility.h1 %></h1>
                        <p><%- text.page.mobility.description %></p>
                        <div style="text-align: center;">
                            <button 
                             class="btn btn-primary"
                             @click="open()"
                             style="margin: 15px;"
                            >
                            <%= text.page.mobility.button %>
                            </button>
                        </div>
                        <p><%= text.page.mobility.list_desc %></p><br>
                        <ul>
                        <% Object.values(text.page.mobility.list).forEach(function(point) { %>
                            <li>
                                <%= point %>
                            </li>
                        <% }) %>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-img">
                        <img src="/assets/img/mobility_car.jpg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="card mx-auto" style="max-width: 350px;">
                            <div class="card-header"><b><%= text.page.mobility.sign %></b></div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input
                                        class="form-control"
                                        type="text"
                                        placeholder="email"
                                        v-model="email"
                                        @keydown.enter="submit()"
                                    >
                                </div>
                                <div v-show="sign_confirm" class="alert alert-primary" role="alert" v-cloak>
                                    <%= text.page.mobility.sign_confirm %>
                                </div>
                                <div v-show="sign_success" class="alert alert-success" role="alert" v-cloak>
                                    <%= text.page.mobility.sign_success %>
                                </div>
                                <div v-show="sign_fail" class="alert alert-danger" role="alert" v-cloak>
                                    <%= text.page.mobility.sign_fail %>
                                </div>
                                <div v-show="sign_noemail" class="alert alert-danger" role="alert" v-cloak>
                                    <%= text.page.mobility.sign_nomail %>
                                </div>
                                <div class="input-group">
                                    <button
                                        class="btn btn-primary"
                                        @click="submit()"
                                        style="margin-left: auto;"
                                    >
                                        <%= text.page.mobility.sign_button %>
                                    </button>
                                </div>

                                <div>
                                    <p v-cloak>{{ count }} anderen tekenden al!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col">
                        <p><%- text.page.mobility.questions %></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
const app = new Vue({
    el: 'main',
    data: {
        email: '',
        project: 'mobility',
        count: 0,
        sign_success: false,
        sign_confirm: false,
        sign_fail: false,
        sign_noemail: false,
    },
    async beforeMount() {
        const params = new URLSearchParams(window.location.search);
        this.sign_success = params.has('success');

        const result = await fetch(`https://api.${location.host}/sign`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(res => res.json());

        if (result && result.count) this.count = result.count;
    },
    methods: {
        submit: async function() {
            this.sign_success = false;
            this.sign_confirm = false;
            this.sign_fail = false;
            this.sign_noemail = false;

            if (!this.email) return;

            if (!this.email.includes('@')) {
                this.sign_noemail = true;
                return;
            }

            const result = await fetch(`https://api.${location.host}/sign`, {
                credentials: 'include',
                method: 'POST',
                headers: {
		            'content-type': 'application/json',
                },
                headers: {
                    'Content-Type': 'Application/json'
                },
                body: JSON.stringify({
                    email: this.email.toLowerCase(),
                    project: this.project,
                }),
            }).then(res => res.json());

            if (result.success) {
                this.sign_confirm = true;
            } else {
                this.sign_fail = true;
            }

            this.email = '';
        },
        open: function() {
            window.open('/assets/files/20191102-Mobiliteit-op-en-rond-de-campussen.pdf', '_blank');
        }
    }
});
    </script>
</body>
</html>
