<!DOCTYPE html>
<html>
<head>
    <title><%= text.page.associations.title %></title>
    <% include ../partials/head %>
</head>
<body data-spy="scroll" data-target="#menu">
    <header>
        <% include ../partials/header %>
    </header>    
    <main>
        <section id="verenigingen">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <h1><%= text.page.associations.heading %></h1>
                        <p><%- text.page.associations.description %></p>
                        <br>
                        <div class="row justify-content-center">
                            <% Object.values(text.page.associations.list).forEach(function(ass) { %>
                            <div class="col-md-6 associations">
                                <div class="row">
                                    <div class="col-4 association-banner" style="text-align: right;">
                                        <div class="shield-image">
                                            <img  src="<%- ass.img %>" alt="<%= ass.img_alt %>">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h5><%= ass.name %></h5>
                                        <p><%=ass.desc %></p>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
